In [163]:
import pandas as pd

data = pd.read_csv("D:\\360DigiTMG\\DataScience\\19. Decision Tree\\Assignment Q\\Company_Data.csv")
data.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [164]:
data.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

In [165]:
data['Sales'] = pd.cut(data['Sales'], bins=[min(data.Sales), data.Sales.mean(), max(data.Sales)], labels=["Low","High"], include_lowest=True)
data['CompPrice'] = pd.cut(data['CompPrice'], bins=[min(data.CompPrice), data.CompPrice.mean(), max(data.CompPrice)], labels=["Low","High"], include_lowest=True)
data['Income'] = pd.cut(data['Income'], bins=[min(data.Income), data.Income.mean(), max(data.Income)], labels=["Low","High"], include_lowest=True)
data['Advertising'] = pd.cut(data['Advertising'], bins=[min(data.Advertising), data.Advertising.mean(), max(data.Advertising)], labels=["Low","High"], include_lowest=True)
data['Population'] = pd.cut(data['Population'], bins=[min(data.Population), data.Population.mean(), max(data.Population)], labels=["Low","High"], include_lowest=True)
data['Price'] = pd.cut(data['Price'], bins=[min(data.Price), data.Price.mean(), max(data.Price)], labels=["Low","High"], include_lowest=True)
data['Age'] = pd.cut(data['Age'], bins=[min(data.Age), data.Age.mean(), max(data.Age)], labels=["Low","High"], include_lowest=True)
data['Education'] = pd.cut(data['Education'], bins=[min(data.Education), data.Education.mean(), max(data.Education)], labels=["Low","High"], include_lowest=True)
data.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,High,High,High,High,High,High,Bad,Low,High,Yes,Yes
1,High,Low,Low,High,Low,Low,Good,High,Low,Yes,Yes
2,High,Low,Low,High,High,Low,Medium,High,Low,Yes,Yes
3,Low,Low,High,Low,High,Low,Medium,High,High,Yes,Yes
4,Low,High,Low,Low,High,High,Bad,Low,Low,Yes,No

In [166]:
y = data.Sales
data.drop(['Sales', 'Urban', 'US', 'Education', 'Age', 'ShelveLoc', 'Price', 'Advertising'], axis=1, inplace=True)
data.head()

  CompPrice Income Population
0      High   High       High
1       Low    Low        Low
2       Low    Low       High
3       Low   High       High
4      High    Low       High

In [167]:
y.head()

0    High
1    High
2    High
3     Low
4     Low
Name: Sales, dtype: category
Categories (2, object): ['Low' < 'High']

In [168]:
data.isnull().sum()

CompPrice     0
Income        0
Population    0
dtype: int64

In [169]:
from sklearn.preprocessing import LabelEncoder

lbl = LabelEncoder()
data.CompPrice = lbl.fit_transform(data.CompPrice)
data.Income = lbl.fit_transform(data.Income)
data.Population = lbl.fit_transform(data.Population)
data.head()

   CompPrice  Income  Population
0          0       0           0
1          1       1           1
2          1       1           0
3          1       0           0
4          0       1           0

In [170]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=0.2)
y_train

262     Low
252    High
275     Low
98     High
12      Low
       ...
301     Low
287     Low
174     Low
239     Low
350    High
Name: Sales, Length: 320, dtype: category
Categories (2, object): ['Low' < 'High']

In [172]:
from sklearn import tree

dt = tree.DecisionTreeClassifier()
dt.fit(X_train, y_train)
train_predict = dt.predict(X_train)
train_predict

array(['Low', 'High', 'Low', 'High', 'Low', 'High', 'Low', 'Low', 'Low',
       'High', 'High', 'High', 'High', 'High', 'High', 'High', 'Low',
       'Low', 'Low', 'High', 'Low', 'High', 'High', 'High', 'Low', 'High',
       'High', 'Low', 'Low', 'High', 'High', 'Low', 'High', 'High', 'Low',
       'High', 'High', 'High', 'Low', 'High', 'Low', 'Low', 'Low', 'High',
       'High', 'High', 'Low', 'High', 'Low', 'Low', 'Low', 'High', 'Low',
       'High', 'High', 'Low', 'Low', 'Low', 'High', 'High', 'Low', 'High',
       'Low', 'High', 'Low', 'Low', 'High', 'High', 'Low', 'Low', 'High',
       'High', 'Low', 'High', 'High', 'Low', 'High', 'High', 'High',
       'Low', 'Low', 'High', 'High', 'High', 'High', 'High', 'Low',
       'High', 'High', 'High', 'Low', 'Low', 'Low', 'High', 'High',
       'High', 'High', 'High', 'Low', 'High', 'Low', 'High', 'Low',
       'High', 'High', 'High', 'Low', 'Low', 'Low', 'Low', 'High', 'High',
       'High', 'High', 'High', 'Low', 'High', 'High', 'Low', 'High',
       'Low', 'Low', 'Low', 'High', 'High', 'High', 'Low', 'Low', 'High',
       'High', 'High', 'Low', 'Low', 'High', 'Low', 'Low', 'Low', 'High',
       'Low', 'High', 'Low', 'High', 'High', 'Low', 'High', 'Low', 'Low',
       'Low', 'Low', 'Low', 'Low', 'Low', 'High', 'Low', 'Low', 'Low',
       'High', 'High', 'Low', 'Low', 'Low', 'High', 'Low', 'Low', 'Low',
       'Low', 'Low', 'Low', 'High', 'High', 'High', 'High', 'High',
       'High', 'High', 'High', 'Low', 'Low', 'Low', 'Low', 'High', 'High',
       'High', 'Low', 'High', 'Low', 'Low', 'Low', 'High', 'Low', 'Low',
       'High', 'Low', 'Low', 'Low', 'High', 'High', 'Low', 'Low', 'High',
       'Low', 'High', 'High', 'High', 'Low', 'Low', 'High', 'Low', 'High',
       'High', 'High', 'Low', 'High', 'Low', 'Low', 'Low', 'Low', 'High',
       'High', 'Low', 'High', 'High', 'High', 'High', 'Low', 'High',
       'High', 'Low', 'High', 'Low', 'Low', 'Low', 'Low', 'High', 'Low',
       'High', 'High', 'High', 'Low', 'Low', 'Low', 'Low', 'High', 'Low',
       'High', 'High', 'High', 'Low', 'Low', 'High', 'High', 'Low', 'Low',
       'Low', 'High', 'Low', 'Low', 'High', 'Low', 'Low', 'Low', 'Low',
       'Low', 'Low', 'High', 'Low', 'High', 'Low', 'High', 'Low', 'High',
       'Low', 'Low', 'High', 'Low', 'Low', 'Low', 'High', 'Low', 'High',
       'High', 'Low', 'High', 'High', 'High', 'High', 'High', 'Low',
       'High', 'Low', 'High', 'Low', 'High', 'Low', 'Low', 'High', 'High',
       'High', 'High', 'High', 'High', 'Low', 'High', 'Low', 'Low', 'Low',
       'Low', 'High', 'High', 'High', 'High', 'High', 'High', 'High',
       'Low', 'Low', 'Low', 'High', 'Low', 'High'], dtype=object)

In [177]:
from sklearn.metrics import accuracy_score, confusion_matrix

confusion_matrix(train_predict, y_train)

array([[91, 73],
       [65, 91]], dtype=int64)

In [178]:
accuracy_score(train_predict, y_train)

0.56875

In [180]:
test_predict = dt.predict(X_test)
test_predict

array(['Low', 'High', 'Low', 'High', 'High', 'High', 'Low', 'High', 'Low',
       'Low', 'Low', 'High', 'High', 'Low', 'High', 'High', 'Low', 'High',
       'High', 'Low', 'High', 'High', 'Low', 'High', 'High', 'High',
       'High', 'Low', 'High', 'Low', 'High', 'Low', 'High', 'High', 'Low',
       'High', 'Low', 'High', 'High', 'High', 'High', 'High', 'Low',
       'Low', 'Low', 'Low', 'Low', 'High', 'Low', 'High', 'High', 'High',
       'Low', 'Low', 'High', 'High', 'High', 'Low', 'Low', 'Low', 'Low',
       'Low', 'High', 'High', 'High', 'Low', 'Low', 'Low', 'High', 'Low',
       'High', 'Low', 'Low', 'High', 'Low', 'Low', 'Low', 'High', 'Low',
       'Low'], dtype=object)

In [181]:
from sklearn.metrics import accuracy_score, confusion_matrix

confusion_matrix(test_predict, y_test)

array([[23, 18],
       [20, 19]], dtype=int64)

In [182]:
accuracy_score(test_predict, y_test)

0.525

In [188]:
from sklearn.ensemble import RandomForestClassifier

rd = RandomForestClassifier(n_estimators=500, n_jobs=2, random_state=23)
rd.fit(X_train, y_train)

train_predict_rd = rd.predict(X_train)
train_predict_rd

array(['Low', 'High', 'Low', 'High', 'Low', 'High', 'Low', 'Low', 'Low',
       'High', 'High', 'High', 'High', 'High', 'High', 'High', 'Low',
       'Low', 'Low', 'High', 'Low', 'High', 'High', 'High', 'Low', 'High',
       'High', 'Low', 'Low', 'High', 'High', 'Low', 'High', 'High', 'Low',
       'High', 'High', 'High', 'Low', 'High', 'Low', 'Low', 'Low', 'High',
       'High', 'High', 'Low', 'High', 'Low', 'Low', 'Low', 'High', 'Low',
       'High', 'High', 'Low', 'Low', 'Low', 'High', 'High', 'Low', 'High',
       'Low', 'High', 'Low', 'Low', 'High', 'High', 'Low', 'Low', 'High',
       'High', 'Low', 'High', 'High', 'Low', 'High', 'High', 'High',
       'Low', 'Low', 'High', 'High', 'High', 'High', 'High', 'Low',
       'High', 'High', 'High', 'Low', 'Low', 'Low', 'High', 'High',
       'High', 'High', 'High', 'Low', 'High', 'Low', 'High', 'Low',
       'High', 'High', 'High', 'Low', 'Low', 'Low', 'Low', 'High', 'High',
       'High', 'High', 'High', 'Low', 'High', 'High', 'Low', 'High',
       'Low', 'Low', 'Low', 'High', 'High', 'High', 'Low', 'Low', 'High',
       'High', 'High', 'Low', 'Low', 'High', 'Low', 'Low', 'Low', 'High',
       'Low', 'High', 'Low', 'High', 'High', 'Low', 'High', 'Low', 'Low',
       'Low', 'Low', 'Low', 'Low', 'Low', 'High', 'Low', 'Low', 'Low',
       'High', 'High', 'Low', 'Low', 'Low', 'High', 'Low', 'Low', 'Low',
       'Low', 'Low', 'Low', 'High', 'High', 'High', 'High', 'High',
       'High', 'High', 'High', 'Low', 'Low', 'Low', 'Low', 'High', 'High',
       'High', 'Low', 'High', 'Low', 'Low', 'Low', 'High', 'Low', 'Low',
       'High', 'Low', 'Low', 'Low', 'High', 'High', 'Low', 'Low', 'High',
       'Low', 'High', 'High', 'High', 'Low', 'Low', 'High', 'Low', 'High',
       'High', 'High', 'Low', 'High', 'Low', 'Low', 'Low', 'Low', 'High',
       'High', 'Low', 'High', 'High', 'High', 'High', 'Low', 'High',
       'High', 'Low', 'High', 'Low', 'Low', 'Low', 'Low', 'High', 'Low',
       'High', 'High', 'High', 'Low', 'Low', 'Low', 'Low', 'High', 'Low',
       'High', 'High', 'High', 'Low', 'Low', 'High', 'High', 'Low', 'Low',
       'Low', 'High', 'Low', 'Low', 'High', 'Low', 'Low', 'Low', 'Low',
       'Low', 'Low', 'High', 'Low', 'High', 'Low', 'High', 'Low', 'High',
       'Low', 'Low', 'High', 'Low', 'Low', 'Low', 'High', 'Low', 'High',
       'High', 'Low', 'High', 'High', 'High', 'High', 'High', 'Low',
       'High', 'Low', 'High', 'Low', 'High', 'Low', 'Low', 'High', 'High',
       'High', 'High', 'High', 'High', 'Low', 'High', 'Low', 'Low', 'Low',
       'Low', 'High', 'High', 'High', 'High', 'High', 'High', 'High',
       'Low', 'Low', 'Low', 'High', 'Low', 'High'], dtype=object)

In [189]:
accuracy_score(train_predict_rd, y_train)

0.56875

In [191]:
rd.fit(X_test, y_test)

test_predict_rd = rd.predict(X_test)
accuracy_score(test_predict_rd, y_test)

0.6125

# Question 2

In [44]:
import pandas as pd

X = pd.read_csv("D:\\360DigiTMG\\DataScience\\19. Decision Tree\\Assignment Q\\Diabetes.csv")
X.head()

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure,Triceps skin fold thickness,2-Hour serum insulin,Body mass index,Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,YES
1,1,85,66,29,0,26.6,0.351,31,NO
2,8,183,64,0,0,23.3,0.672,32,YES
3,1,89,66,23,94,28.1,0.167,21,NO
4,0,137,40,35,168,43.1,2.288,33,YES

In [45]:
y = X['Class variable']
X.drop(['Class variable'], axis=1,inplace=True)
y

0      YES
1       NO
2      YES
3       NO
4      YES
      ...
763     NO
764     NO
765     NO
766    YES
767     NO
Name: Class variable, Length: 768, dtype: object

In [46]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [56]:
from sklearn.tree import DecisionTreeClassifier as DT

model = DT(criterion='entropy')
model.fit(X_train,y_train)
model_predict_train = model.predict(X_train)
model_predict_train

array(['NO', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO',
       'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO',
       'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES', 'YES', 'NO',
       'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO',
       'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO',
       'NO', 'YES', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO',
       'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO',
       'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'YES',
       'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'YES', 'NO',
       'NO', 'YES', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO',
       'YES', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO',
       'NO', 'YES', 'NO', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO',
       'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'NO', 'NO', 'YES', 'YES',
       'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES', 'YES', 'NO',
       'YES', 'NO', 'YES', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO',
       'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO',
       'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO',
       'YES', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES',
       'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES',
       'YES', 'YES', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO',
       'YES', 'YES', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO',
       'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES',
       'YES', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO',
       'YES', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO',
       'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'YES', 'YES', 'NO', 'NO',
       'YES', 'NO', 'YES', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO',
       'YES', 'NO', 'NO', 'YES', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES',
       'NO', 'YES', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO',
       'YES', 'NO', 'YES', 'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO',
       'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO',
       'YES', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES',
       'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO',
       'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO',
       'YES', 'NO', 'YES', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES',
       'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES',
       'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'YES',
       'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES',
       'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO',
       'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO',
       'NO', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO',
       'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'YES',
       'NO', 'YES', 'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO',
       'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO',
       'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO',
       'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO',
       'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO',
       'NO', 'YES', 'YES', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO',
       'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'NO', 'YES', 'YES', 'YES',
       'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'YES', 'NO',
       'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES',
       'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO',
       'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO',
       'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO',
       'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO',
       'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO',
       'NO', 'NO', 'NO'], dtype=object)

In [57]:
from sklearn.metrics import confusion_matrix

confusion_matrix(model.predict(X_train), y_train)

array([[398,   0],
       [  0, 216]], dtype=int64)

In [59]:
model_predict_test = model.predict(X_test)
model_predict_test

array(['NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO',
       'YES', 'NO', 'NO', 'YES', 'YES', 'NO', 'YES', 'NO', 'NO', 'YES',
       'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES',
       'YES', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES',
       'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'YES', 'YES',
       'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'YES',
       'NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES', 'NO',
       'NO', 'YES', 'YES', 'YES', 'YES', 'NO', 'YES', 'NO', 'YES', 'NO',
       'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'YES',
       'YES', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'YES', 'NO',
       'YES', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES',
       'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES',
       'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO',
       'NO', 'YES', 'YES', 'NO', 'YES', 'NO', 'NO', 'YES', 'YES', 'YES',
       'NO', 'NO'], dtype=object)

In [60]:
from sklearn.metrics import accuracy_score

accuracy_score(model_predict_train, y_train)

1.0

In [61]:
accuracy_score(model_predict_test, y_test)

0.6493506493506493

In [62]:
from sklearn.model_selection import GridSearchCV

model = DT(criterion = 'entropy')

param_grid = {'min_samples_leaf': [1, 5, 10, 20],
              'max_depth': [2, 4, 6, 8, 10],
              'max_features': ['sqrt']}


grid_search = GridSearchCV(estimator = model, param_grid = param_grid, 
                                scoring = 'accuracy', n_jobs = -1, cv = 5, 
                                refit=True, return_train_score=True)

grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(criterion='entropy'),
             n_jobs=-1,
             param_grid={'max_depth': [2, 4, 6, 8, 10],
                         'max_features': ['sqrt'],
                         'min_samples_leaf': [1, 5, 10, 20]},
             return_train_score=True, scoring='accuracy')

In [63]:
grid_search.best_params_

{'max_depth': 8, 'max_features': 'sqrt', 'min_samples_leaf': 20}

In [65]:
cv_dt_clf_grid = grid_search.best_estimator_
cv_dt_clf_grid

DecisionTreeClassifier(criterion='entropy', max_depth=8, max_features='sqrt',
                       min_samples_leaf=20)

In [66]:
accuracy_score(cv_dt_clf_grid.predict(X_train), y_train)

0.7882736156351792

In [67]:
accuracy_score(cv_dt_clf_grid.predict(X_test), y_test)

0.6623376623376623

In [72]:
from sklearn.ensemble import RandomForestClassifier as RC

rc = RC(n_estimators=20, n_jobs=2, random_state=10)
rc.fit(X_train, y_train)
rc_predict_train = rc.predict(X_train)
rc_predict_train

array(['NO', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO',
       'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO',
       'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES', 'YES', 'NO',
       'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO',
       'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO',
       'NO', 'YES', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO',
       'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO',
       'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'YES',
       'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'YES', 'NO',
       'NO', 'YES', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO',
       'YES', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO',
       'NO', 'YES', 'NO', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO',
       'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'NO', 'NO', 'YES', 'YES',
       'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES', 'YES', 'NO',
       'YES', 'NO', 'YES', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO',
       'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO',
       'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO',
       'YES', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES',
       'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES',
       'YES', 'YES', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO',
       'YES', 'YES', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO',
       'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES',
       'YES', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO',
       'YES', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO',
       'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'YES', 'YES', 'NO', 'NO',
       'YES', 'NO', 'YES', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO',
       'YES', 'NO', 'NO', 'YES', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES',
       'NO', 'YES', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO',
       'YES', 'NO', 'YES', 'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO',
       'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO',
       'YES', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES',
       'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO',
       'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO',
       'YES', 'NO', 'YES', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES',
       'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES',
       'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'YES',
       'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES',
       'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO',
       'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO',
       'NO', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO',
       'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'YES',
       'NO', 'YES', 'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO',
       'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO',
       'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO',
       'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO',
       'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO',
       'NO', 'YES', 'YES', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO',
       'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'NO', 'YES', 'YES', 'YES',
       'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'YES', 'NO',
       'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES',
       'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO',
       'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO',
       'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO',
       'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO',
       'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO'], dtype=object)

In [73]:
accuracy_score(rc_predict_train, y_train)

0.998371335504886

In [75]:
rc_predict_test = rc.predict(X_test)
rc_predict_test

array(['YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO',
       'YES', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES', 'NO', 'YES',
       'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO',
       'YES', 'NO', 'YES', 'NO', 'NO', 'YES', 'NO', 'YES', 'YES', 'NO',
       'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO',
       'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'YES', 'NO',
       'YES', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO',
       'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO',
       'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'YES',
       'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO',
       'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO',
       'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO',
       'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'YES',
       'YES', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'YES'], dtype=object)

In [76]:
accuracy_score(rc_predict_test, y_test)

0.7207792207792207

# Question 3

In [207]:
import pandas as pd

fraud_check = pd.read_csv("D:\\360DigiTMG\\DataScience\\19. Decision Tree\\Assignment Q\\Fraud_check.csv")
fraud_check.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [208]:
fraud_check.drop(['City.Population', 'Marital.Status'], axis=1, inplace=True)
fraud_check

    Undergrad  Taxable.Income  Work.Experience Urban
0          NO           68833               10   YES
1         YES           33700               18   YES
2          NO           36925               30   YES
3         YES           50190               15   YES
4          NO           81002               28    NO
..        ...             ...              ...   ...
595       YES           76340                7   YES
596       YES           69967                2   YES
597        NO           47334                0   YES
598       YES           98592               17    NO
599        NO           96519               16    NO

[600 rows x 4 columns]

In [210]:
y = pd.DataFrame({"Taxable.Income": fraud_check['Taxable.Income']})
y

     Taxable.Income
0             68833
1             33700
2             36925
3             50190
4             81002
..              ...
595           76340
596           69967
597           47334
598           98592
599           96519

[600 rows x 1 columns]

In [212]:
import numpy as np

y['Taxable.Income'] = pd.DataFrame(np.where(y['Taxable.Income']<=30000, 'Risky', 'Good'))
y

    Taxable.Income
0             Good
1             Good
2             Good
3             Good
4             Good
..             ...
595           Good
596           Good
597           Good
598           Good
599           Good

[600 rows x 1 columns]

In [214]:
fraud_check.drop(["Taxable.Income"], axis=1, inplace=True)

In [216]:
fraud_check.head()

  Undergrad  Work.Experience Urban
0        NO               10   YES
1       YES               18   YES
2        NO               30   YES
3       YES               15   YES
4        NO               28    NO

In [217]:
from sklearn.preprocessing import LabelEncoder

lbl = LabelEncoder()
fraud_check["Undergrad"] = lbl.fit_transform(fraud_check["Undergrad"])
fraud_check["Urban"] = lbl.fit_transform(fraud_check["Urban"])

fraud_check

     Undergrad  Work.Experience  Urban
0            0               10      1
1            1               18      1
2            0               30      1
3            1               15      1
4            0               28      0
..         ...              ...    ...
595          1                7      1
596          1                2      1
597          0                0      1
598          1               17      0
599          0               16      0

[600 rows x 3 columns]

In [220]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(fraud_check, y, test_size=0.2)

In [223]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)
predict_train = dt.predict(X_train)

from sklearn.metrics import accuracy_score, confusion_matrix
accuracy_score(predict_train, y_train)

0.8083333333333333

In [225]:
confusion_matrix(predict_train, y_train)

array([[371,  85],
       [  7,  17]], dtype=int64)

In [226]:
predict_test = dt.predict(X_test)
accuracy_score(predict_test, y_test)

0.7416666666666667

In [227]:
confusion_matrix(predict_test, y_test)

array([[89, 22],
       [ 9,  0]], dtype=int64)

In [231]:
from sklearn.ensemble import RandomForestClassifier

rd = RandomForestClassifier(n_estimators = 10, n_jobs=2, random_state=32)
rd.fit(X_train, y_train)
rd_predict_train = rd.predict(X_train)

accuracy_score(rd_predict_train, y_train)

C:\Users\riten\AppData\Local\Temp\ipykernel_21408\4292580405.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rd.fit(X_train, y_train)

0.80625

In [232]:
rd_predict_test = rd.predict(X_test)
accuracy_score(rd_predict_test, y_test)

0.6833333333333333

# Question 4

In [89]:
import pandas as pd

hr_dt = pd.read_csv("D:\\360DigiTMG\\DataScience\\19. Decision Tree\\Assignment Q\\HR_DT.csv")
hr_dt.head()

,Position of the employee,no of Years of Experience of employee,monthly income of employee
0,Business Analyst,1.1,39343
1,Junior Consultant,1.3,46205
2,Senior Consultant,1.5,37731
3,Manager,2.0,43525
4,Country Manager,2.2,39891

In [95]:
from sklearn.preprocessing import LabelEncoder

lbl = LabelEncoder()
hr_dt["Position of the employee"] = lbl.fit_transform(hr_dt["Position of the employee"])
hr_dt.head()

,Position of the employee,no of Years of Experience of employee,monthly income of employee
0,0,1.1,39343
1,4,1.3,46205
2,8,1.5,37731
3,5,2.0,43525
4,3,2.2,39891

In [100]:
y = hr_dt[" monthly income of employee"]
hr_dt.drop([' monthly income of employee'], axis=1, inplace=True)

In [101]:
X_train, X_test, y_train, y_test = train_test_split(hr_dt, y, test_size=0.2)

In [105]:
from sklearn.tree import DecisionTreeClassifier as DT

dt = DT(criterion='entropy')
dt.fit(X_train, y_train)
dt_predict_train = dt.predict(X_train)

In [106]:
dt_predict_test = dt.predict(X_test)

In [107]:
accuracy_score(dt_predict_train, y_train)

0.9615384615384616

In [108]:
accuracy_score(dt_predict_test, y_test)

0.925

In [113]:
from sklearn.ensemble import RandomForestClassifier

rc = RandomForestClassifier(n_estimators=100, n_jobs=1, random_state=100)
rc.fit(X_train, y_train)
rc_predict_train = rc.predict(X_train)

In [114]:
rc_predict_test = rc.predict(X_test)

In [115]:
accuracy_score(rc_predict_train, y_train)

0.9615384615384616

In [117]:
accuracy_score(rc_predict_test, y_test)

0.45

In [120]:
from sklearn.model_selection import GridSearchCV

rf_clf_grid = RandomForestClassifier(n_estimators=500, n_jobs=1, random_state=42)

param_grid = {"max_features": [1,2,3], "min_samples_split": [2, 3, 10]}

grid_search = GridSearchCV(rf_clf_grid, param_grid, n_jobs = -1, cv = 5, scoring = 'accuracy')

grid_search.fit(X_train, y_train)
grid_search.best_params_

cv_rf_clf_grid = grid_search.best_estimator_

C:\Users\riten\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=5.
  warnings.warn(
C:\Users\riten\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
15 fits failed out of a total of 45.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\riten\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\riten\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 450, in fit
    trees = Parallel(
  File "C:\Users\riten\anaconda3\lib\site-packages\joblib\parallel.py", line 1043, in __call__
    if self.dispatch_one_batch(iterator):
  File "C:\Users\riten\anaconda3\lib\site-packages\joblib\parallel.py", line 861, in dispatch_one_batch
    self._dispatch(tasks)
  File "C:\Users\riten\anaconda3\lib\site-packages\joblib\parallel.py", line 779, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "C:\Users\riten\anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "C:\Users\riten\anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "C:\Users\riten\anaconda3\lib\site-packages\joblib\parallel.py", line 262, in __call__
    return [func(*args, **kwargs)
  File "C:\Users\riten\anaconda3\lib\site-packages\joblib\parallel.py", line 262, in <listcomp>
    return [func(*args, **kwargs)
  File "C:\Users\riten\anaconda3\lib\site-packages\sklearn\utils\fixes.py", line 216, in __call__
    return self.function(*args, **kwargs)
  File "C:\Users\riten\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 185, in _parallel_build_trees
    tree.fit(X, y, sample_weight=curr_sample_weight, check_input=False)
  File "C:\Users\riten\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 937, in fit
    super().fit(
  File "C:\Users\riten\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 308, in fit
    raise ValueError("max_features must be in (0, n_features]")
ValueError: max_features must be in (0, n_features]

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\riten\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.39737903 0.42278226 0.46129032 0.82096774 0.82096774 0.77580645
        nan        nan        nan]
  warnings.warn(

In [121]:
accuracy_score(y_test, cv_rf_clf_grid.predict(X_test))

0.925

In [122]:
accuracy_score(y_train, cv_rf_clf_grid.predict(X_train))

0.9615384615384616